<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Mapeado de mesas</span>
            <table class="table mt-5">
                <tbody>
                  <tr>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                  </tr>
                  <tr>
                    <td> <i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td> <i class="fa-sharp fa-solid fa-chair"></i></td>
                  </tr>  
                  <tr>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                  </tr>  
                  <tr>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                  </tr>  
                  <tr>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair ocupado"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                    <td><i class="fa-sharp fa-solid fa-chair"></i></td>
                  </tr>    
                </tbody>
              </table>   
        </div>
    </div>
</div>