<div class="espacio">

    <div class="refran">   
        <h1>Who are we?</h1>
        <hr>
        <br><br>
        <p>We are a place where you can enjoy great culinary delights, pleasing your taste buds.</p>
        <p>We have been here for years, maintaining this classic but elegant aesthetic that never goes out of style, come visit us whenever you want, we will always have our doors open for you.</p>
        
        <button class="boton cuatro" routerLink="/contact"><span>Contact us</span></button>
    </div>

</div>
