<div class="espacio"></div>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Articulos</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/new">Agregar</button>
            <table class="table mt-5">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Cellphone</th>
                    <th>Table</th>
                    <th>Time init</th>
                    <th>Time finish</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <i class="fa-regular fa-pen-to-square fal-lg text-info mr-5" routerlink="/update"></i>
                      <i class="fa-solid fa-trash fal-lg text-danger"></i>
                    </td>
                  </tr>  
                </tbody>
              </table>   
        </div>
    </div>
</div>
